#banner{
  width:100%;
  background:red;
  font-size:50;
  Padding:25;
}

#Nav{
 background:blue;
 
}

#sidebar{
  background:purple;
  float:left;
  height:300;
}
    
#content{
  background:gold;
  height:300;
  text-align:center;
}
